require("./HelloWorld.module.css");
const styles = {
  helloWorld: 'helloWorld_c9f54d32',
  container: 'container_c9f54d32',
  row: 'row_c9f54d32',
  togglespan: 'togglespan_c9f54d32',
  column: 'column_c9f54d32',
  'ms-Grid': 'ms-Grid_c9f54d32',
  'col-1': 'col-1_c9f54d32',
  'col-2': 'col-2_c9f54d32',
  'col-3': 'col-3_c9f54d32',
  'col-4': 'col-4_c9f54d32',
  'col-5': 'col-5_c9f54d32',
  'col-6': 'col-6_c9f54d32',
  'col-7': 'col-7_c9f54d32',
  'col-8': 'col-8_c9f54d32',
  'col-9': 'col-9_c9f54d32',
  'col-10': 'col-10_c9f54d32',
  'col-11': 'col-11_c9f54d32',
  'col-12': 'col-12_c9f54d32',
  'form-control': 'form-control_c9f54d32',
  label: 'label_c9f54d32',
  'ms-TextField': 'ms-TextField_c9f54d32',
  'ms-Label': 'ms-Label_c9f54d32',
  'ms-TextField-field': 'ms-TextField-field_c9f54d32',
  formHeading: 'formHeading_c9f54d32',
  title: 'title_c9f54d32',
  subTitle: 'subTitle_c9f54d32',
  description: 'description_c9f54d32',
  button: 'button_c9f54d32',
  App: 'App_c9f54d32',
  myform: 'myform_c9f54d32',
  'main-container': 'main-container_c9f54d32',
  'contact-header': 'contact-header_c9f54d32',
  'contact-toolbar': 'contact-toolbar_c9f54d32',
  saveicons: 'saveicons_c9f54d32',
  deleteicons: 'deleteicons_c9f54d32',
  editicons: 'editicons_c9f54d32',
  togglecontrol: 'togglecontrol_c9f54d32',
  namemargin: 'namemargin_c9f54d32',
  homephn: 'homephn_c9f54d32',
  mobileno: 'mobileno_c9f54d32',
  businessphn: 'businessphn_c9f54d32',
  extension: 'extension_c9f54d32',
  faxno: 'faxno_c9f54d32',
  city: 'city_c9f54d32',
  province: 'province_c9f54d32',
  contry: 'contry_c9f54d32',
  postalcode: 'postalcode_c9f54d32',
  email: 'email_c9f54d32',
  'form-check-box': 'form-check-box_c9f54d32',
  'form-check-residence': 'form-check-residence_c9f54d32',
  'usericon-align': 'usericon-align_c9f54d32',
  edit_ico: 'edit_ico_c9f54d32',
  'align-residence': 'align-residence_c9f54d32',
  'align-deceased': 'align-deceased_c9f54d32',
  'icons-align': 'icons-align_c9f54d32',
  'custom-form-input': 'custom-form-input_c9f54d32',
  'scroll-table': 'scroll-table_c9f54d32',
  table: 'table_c9f54d32',
  'form-checkbox-align': 'form-checkbox-align_c9f54d32',
  checkbox: 'checkbox_c9f54d32',
  'form-check-input': 'form-check-input_c9f54d32',
  plusicon: 'plusicon_c9f54d32',
  'table-striped': 'table-striped_c9f54d32',
  toggleupperspace: 'toggleupperspace_c9f54d32',
  labelposition: 'labelposition_c9f54d32',
  'form-check-align': 'form-check-align_c9f54d32',
  contactcolsize: 'contactcolsize_c9f54d32',
  tax: 'tax_c9f54d32',
  marigin: 'marigin_c9f54d32',
  'fa-folder': 'fa-folder_c9f54d32',
  'form-control-te': 'form-control-te_c9f54d32',
  required: 'required_c9f54d32',
  tableborder: 'tableborder_c9f54d32'
};

export default styles;
/* tslint:enable */